body {
    color: rgb(17, 47, 221);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {
    background: rgb(2, 47, 248);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}